/* Override some defaults */
html, body {
  background-color: #eee;
  font-family:Georgia,Utopia,"Times New Roman",serif;
  color:#000;
  line-height:1.5em;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  text-align:justify;
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  /*-webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
}

/* Page header tweaks */
.page-header {
  /*background-color: #f5f5f5;*/
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  border-bottom:1;
}

.topbar .btn {
  border: 0;
}

h1{
	font-size: 76px;
	line-height: 76px;
	/*font-variant:small-caps;*/
	text-transform:uppercase;
	font-weight:normal;
	/*font-weight:400;
	margin-bottom:8px;
	letter-spacing:3px;*/
	display:block;
	/*-webkit-margin-before:0.67em;
	-webkit-margin-after:0.67em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;*/
	text-align:left;
	font-family: 'League', "League Gothic", sans-serif;
	color: #000;
}

h1 a, h1 a:visited{
	color:#000;
	text-decoration:none;
}

h1 a:hover{
	color:#be3f3f;
	text-decoration:none;
}

h2, h3{
	/*font-weight:400;*/
	font-size:47px;
	text-align:left;
	letter-spacing:0.04em;
	clear:both;
	line-height:47px;
	margin:18px auto;
	text-transform:uppercase;
	font-weight:normal;
	font-family: 'League', "League Gothic", sans-serif;
	color: #000;
}

h4{
	font-size:18px;
	line-height:18px;
	font-weight:normal;
	display:block;
	color: #000;
	text-transform:uppercase;
	font-weight:normal;
	font-family: 'League', "League Gothic", sans-serif;
	color: #000;
}

h3{
	font-size:29px;
	line-height:29px;
}

ul{
	margin:10px;
	padding-left:10px;
	list-style:disc;
	color: #000;
}

li{
	color: #000;
}

div.page-header h1{
	text-align:left;
	font-size: 100px;
	line-height: 100px;
}

@font-face {
    font-family: 'League';
	font-weight: normal;
	font-style: normal;

    src: url('league/league.eot');
    src: url('league/league.eot?#iefix') format('embedded-opentype'), url('league/league.woff') format('woff'), url('league/league.ttf') format('truetype'), url('league/league.svg#LeagueGothicRegular') format('svg');
}

a, a:hover, a:visited, .nav a, .nav a:hover, .nav a:visited{
	color:#be3f3f;
	text-decoration:none;
}

a:hover, .nav a:hover{
	text-decoration:underline;
}

.cat{
	display:inline;
	background-color:#be3f3f;
	color:white;
	margin-right:6px;
}

.top_tag{
	display:inline;
	margin-right:6px;
}

div.hr { 
width: 100%; 
height: 1px; 
background: #696969; 
}

blockquote p{
	margin-bottom: 1em;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	